node_modules/
.pnpm-store/
package-lock.json
dist/
.next/
.turbo/
*.tsbuildinfo
.env
.env.production
.env.local
.env.*.local
.idea/
.vscode/
*.swp
*.swo
.DS_Store
coverage/
*.log
*.db
*.db-journal
.cache/
tmp/
