# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Development files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
logs

# Test
coverage
.nyc_output

# Documentation
docs
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.docker

# CI/CD
.github
.gitlab-ci.yml

# Misc
.DS_Store
Thumbs.db
*.tmp
